extends base.pug
block contenido
        .text-center.mt-5
            h1(style='color:red') ERROR 404
            h5 La página que estás buscando no ha sido encontrada.
            small
                | Si el error persiste, contacte al administrador: 
                a(href='”mailto:soporte.altkemist@gmail.com”') Correo del Soporte
block piepag
      footer.bg-dark
        // Copyright
        .footer-copyright.py-3.mt-3.text-white.text-center
          | © 2018 Copyright:
          strong
            span(style='font-style: italic')
              | In
              span(style='color:#cc0000') Dev
            |  Panamá | Joel Gutierrez | Isaac Quinzada
          br
          strong El espacio con el que siempre soñastes