extends base
block contenido    
    // Cuerpo
    .container
        h3 PRODUCTOS
        hr
        #accordionExample.accordion
            .card
                #headingOne.card-header
                    h5.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                            | EDUCATIVAS 
                            i.fa.fa-book(aria-hidden='true')
                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                    .card-body
                        .row-center
                            .col-sm-3
                                h5 APP 1
                                a(href='#')
                                    img(src='img/logoapp.png', width='100px', height='100px')
            .card
                #headingTwo.card-header
                    h5.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                            | EMPRESARIALES 
                            i.fa.fa-suitcase(aria-hidden='true')
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                    .card-body
                        .row-center
                            .col-sm-3
                                h5 APP 2
                                a(href='#')
                                    img(src='img/logoapp2.png', width='100px', height='100px')
                            .col-sm-3
                                h5 APP 3
                                a(href='#')
                                    img(src='img/logoapp3.png', width='100px', height='100px')
            .card
                #headingThree.card-header
                    h5.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                            | JUEGOS 
                            i.fa.fa-gamepad(aria-hidden='true')
                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                    .card-body
                        .row-center
                            .col-sm-3
                                h5 APP 4
                                a(href='#')
                                    img(src='img/logoapp4.jpg', width='100px', height='100px')
            .card
                #headingFour.card-header
                    h5.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                            | SERVICIOS 
                            i.fa.fa-briefcase(aria-hidden='true')
                #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                    .card-body
                        | LOGO ACTIVAR!
    br
    br